body {
    font-size: 13px;
    font-family: arial,sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
            
}

li {
    display: inline;
    
}

a {
    padding: 8px 15px;
    text-decoration: none;
    color: #000;

}

.logo {

    text-align: center;
}

.searchbar {
    text-align: center;
    background-color: white;
    border: 2px solid #ececec;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 40px;
    border-radius: 25px;
}

a:hover {
    text-decoration: underline;
}

.topbar {
    padding: 20px 20px 0px 5px;
}

.topright {
    float: right;
}

.signin {
    background-color: #4285f4;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    font-weight: bold;
    
}